.img-btn {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 12, 0, 0, 4);
    -fx-cursor: hand;
}

.img-btn:pressed {
    -fx-effect: dropshadow(gaussian, rgba(255,213,79,0.4), 15, 0, 0, 6);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.img-btn:disabled {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
    -fx-cursor: default;
    -fx-opacity: 0.4;
}

.img-btn:disabled:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.menu-icon {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 12, 0, 0, 2);
    -fx-cursor: hand;
    -fx-padding: 15;
}

.menu-icon:pressed {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #ffd54f;
    -fx-effect: dropshadow(gaussian, rgba(255,213,79,0.4), 15, 0, 0, 4);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}


.product-topping-line {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #f0f0f0;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-padding: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 6, 0, 0, 2);
}


.order-item-line {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #f0f0f0;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-padding: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 6, 0, 0, 2);
}


.numpad-button {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 12;
    -fx-border-color: #dedede;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.numpad-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}